# Relational Algebra!

### Load data and display first 10 entries

In [62]:
from reframe import Relation

fortune_500_data = Relation("fortune5002017.csv", sep = "|")

fortune_500_data.head(10)

,rank,title,previousrank,revenues,revenuerhange,profits,profitchange,assets,mktvalue,employees,...,industry,years,city,state,latitude,longitude,ceogender,revenuesperemployee,profitsperemployee,changeinrank
0,1,Walmart,1.0,500343.0,3.00%,9862.0,-27.70%,204522,263563.0,2300000,...,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817,Male,0.217540,0.004288,0.0
1,2,Exxon Mobil,4.0,244363.0,17.40%,19710.0,151.40%,348691,316157.0,71200,...,Petroleum Refining,24,Irving,TX,32.814018,-96.948894,Male,3.432065,0.276826,2.0
2,3,Berkshire Hathaway,2.0,242137.0,8.30%,44940.0,86.70%,702095,492008.0,377000,...,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503,Male,0.642273,0.119204,-1.0
3,4,Apple,3.0,229234.0,6.30%,48351.0,5.80%,375319,851318.0,123000,...,Computers| Office Equipment,24,Cupertino,CA,37.322998,-122.032182,Male,1.863691,0.393098,-1.0
4,5,UnitedHealth Group,6.0,201159.0,8.80%,10558.0,50.50%,139058,207080.0,260000,...,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749,Male,0.773688,0.040608,1.0
5,6,McKesson,5.0,198533.0,3.10%,5070.0,124.50%,60969,29067.0,64500,...,Wholesalers: Health Care,24,SF,CA,37.774929,-122.419415,Male,3.078031,0.078605,-1.0
6,7,CVS Health,7.0,184765.0,4.10%,6622.0,24.50%,95131,63114.0,203000,...,Health Care: Pharmacy and Other Services,24,Woonsocket,RI,42.002876,-71.514784,Male,0.910172,0.032621,0.0
7,8,Amazon.com,12.0,177866.0,30.80%,3033.0,27.90%,131310,700668.0,566000,...,Internet Services and Retailing,17,Seattle,WA,47.606209,-122.332071,Male,0.314251,0.005359,4.0
8,9,AT&T,9.0,160546.0,-2.00%,29450.0,127.00%,444097,218946.0,254000,...,Telecommunications,24,Dallas,TX,32.776664,-96.796988,Male,0.632071,0.115945,0.0
9,10,General Motors,8.0,157311.0,-5.50%,-3864.0,-141.00%,212482,50972.0,180000,...,Motor Vehicles and Parts,24,Detroit,MI,42.331427,-83.045754,Female,0.873950,-0.021467,-2.0

### Project only company titles instead of entire row

In [63]:
fortune_500_data.project(["title"]).head(20)

                       title
0                    Walmart
1                Exxon Mobil
2         Berkshire Hathaway
3                      Apple
4         UnitedHealth Group
5                   McKesson
6                 CVS Health
7                 Amazon.com
8                       AT&T
9             General Motors
10                Ford Motor
11         AmerisourceBergen
12                   Chevron
13           Cardinal Health
14                    Costco
15                   Verizon
16                    Kroger
17          General Electric
18  Walgreens Boots Alliance
19            JPMorgan Chase

### Project several columns

In [64]:
fortune_500_data.project(["rank", "title", "profits", "employees"]).head(20)

    rank                     title  profits  employees
0      1                   Walmart   9862.0    2300000
1      2               Exxon Mobil  19710.0      71200
2      3        Berkshire Hathaway  44940.0     377000
3      4                     Apple  48351.0     123000
4      5        UnitedHealth Group  10558.0     260000
5      6                  McKesson   5070.0      64500
6      7                CVS Health   6622.0     203000
7      8                Amazon.com   3033.0     566000
8      9                      AT&T  29450.0     254000
9     10            General Motors  -3864.0     180000
10    11                Ford Motor   7602.0     202000
11    12         AmerisourceBergen    364.5      19500
12    13                   Chevron   9195.0      51900
13    14           Cardinal Health   1288.0      40400
14    15                    Costco   2679.0     182000
15    16                   Verizon  30101.0     155400
16    17                    Kroger   1907.0     449000
17    18          General Electric  -5786.0     313000
18    19  Walgreens Boots Alliance   4078.0     290000
19    20            JPMorgan Chase  24441.0     252539

## Filter and display companies with less than 3000 employees

In [65]:
fortune_500_data.query("employees < 3000")

,rank,title,previousrank,revenues,revenuerhange,profits,profitchange,assets,mktvalue,employees,...,industry,years,city,state,latitude,longitude,ceogender,revenuesperemployee,profitsperemployee,changeinrank
102,103,INTL FCStone,189.0,29424.0,99.40%,6.4,-88.30%,6243,804.0,1607,...,Diversified Financials,10,New York,NY,40.712775,-74.005973,Male,18.309894,0.003983,86.0
222,223,NGL Energy Partners,237.0,13022.0,10.90%,137.0,-,6320,1332.0,2700,...,Energy,4,Tulsa,OK,36.153982,-95.992775,Male,4.822963,0.050741,14.0
233,234,Reinsurance Group of America,246.0,12516.0,8.60%,1822.2,159.80%,60515,9930.0,2640,...,Insurance: Life| Health (stock),9,Chesterfield,MO,38.663108,-90.577067,Female,4.740909,0.690227,12.0
248,249,Oneok,312.0,12174.0,36.50%,387.8,10.20%,16846,23373.0,2470,...,Pipelines,16,Tulsa,OK,36.153982,-95.992775,Male,4.928745,0.157004,63.0
269,270,EOG Resources,356.0,11208.0,46.50%,2582.6,-,29833,60913.0,2664,...,Mining| Crude-Oil Production,10,Houston,TX,29.760427,-95.369803,Male,4.207207,0.969444,86.0
330,331,Global Partners,334.0,8921.0,8.30%,58.8,-,2320,522.0,2000,...,Wholesalers: Diversified,12,Waltham,MA,42.376485,-71.235611,Male,4.460500,0.029400,3.0
333,334,Targa Resources,402.0,8815.0,31.70%,54.0,-,14389,9629.0,2130,...,Pipelines,10,Houston,TX,29.760427,-95.369803,Male,4.138498,0.025352,68.0
335,336,Calpine,400.0,8752.0,30.30%,-339.0,-468.50%,16453,NaN,2290,...,Energy,17,Houston,TX,29.760427,-95.369803,Male,3.821834,-0.148035,64.0
343,344,DCP Midstream,NaN,8462.0,465.30%,229.0,-26.60%,13878,5033.0,2650,...,Pipelines,1,Denver,CO,39.739236,-104.990251,Male,3.193208,0.086415,NaN
397,398,Blackstone Group,503.0,7119.0,38.90%,1470.8,41.50%,34429,21058.0,2360,...,Diversified Financials,3,New York,NY,40.712775,-74.005973,Male,3.016525,0.623220,105.0
403,404,A-Mark Precious Metals,395.0,6990.0,3.00%,7.1,-23.60%,479,86.0,126,...,Miscellaneous,4,El Segundo,CA,33.919180,-118.416465,Male,55.476190,0.056349,-9.0
469,470,KKR,656.0,5930.0,71.40%,1018.3,229.20%,45835,9882.0,1184,...,Securities,6,New York,NY,40.712775,-74.005973,Male,5.008446,0.860051,186.0
475,476,Western & Southern Financial,483.0,5836.0,8.10%,310.4,28.70%,46395,NaN,2226,...,Insurance: Life| Health (Mutual),14,Cincinnati,OH,39.103118,-84.512020,Male,2.621743,0.139443,7.0
488,489,Cheniere Energy,NaN,5601.0,336.50%,-393.0,-,27906,12703.0,1230,...,Energy,1,Houston,TX,29.760427,-95.369803,Male,4.553659,-0.319512,NaN

### Combine operators into a pipeline

1) Project columns rank, title, profits, employees, and industry

2) Query on profits greater than 10,000

3) Sort by industry first and number of employees second (companies in the same industry will be sorted by the number of employees they have)

In [66]:
fortune_500_data.project(["rank", "title", "profits", "employees", "industry"])\
    .query("profits > 10000")\
    .sort(["industry", "employees"], ascending = False)

,rank,title,profits,employees,industry
153,154,Altria Group,10222.0,8300,Tobacco
8,9,AT&T,29450.0,254000,Telecommunications
32,33,Comcast,22714.0,164000,Telecommunications
15,16,Verizon,30101.0,155400,Telecommunications
140,141,Union Pacific,10712.0,41992,Railroads
56,57,Pfizer,21308.0,90200,Pharmaceuticals
1,2,Exxon Mobil,19710.0,71200,Petroleum Refining
21,22,Alphabet,12662.0,80110,Internet Services and Retailing
75,76,Facebook,15934.0,25105,Internet Services and Retailing
2,3,Berkshire Hathaway,44940.0,377000,Insurance: Property and Casualty (Stock)
41,42,Procter & Gamble,15326.0,95000,Household and Personal Products
4,5,UnitedHealth Group,10558.0,260000,Health Care: Insurance and Managed Care
113,114,Kraft Heinz,10999.0,39000,Food Consumer Products
3,4,Apple,48351.0,123000,Computers| Office Equipment
29,30,Microsoft,21204.0,124000,Computer Software
25,26,Wells Fargo,22183.0,262700,Commercial Banks
19,20,JPMorgan Chase,24441.0,252539,Commercial Banks
23,24,Bank of America Corp.,18232.0,209376,Commercial Banks

### Another pipeline example

1) Project columns title, rank, previousrank, and revenues

2) Query on rank less than previousrank and revenues less than 7000

3) Sort by rank

In [67]:
fortune_500_data.project(["title", "rank", "previousrank", "revenues"])\
    .query("rank < previousrank and revenues < 7000")\
    .sort(["rank"], ascending = True)

                              title  rank  previousrank  revenues
407  Expeditors Intl. of Washington   408         429.0    6921.0
408                       Discovery   409         412.0    6873.0
410                         Sanmina   411         414.0    6869.0
411                         KeyCorp   412         479.0    6868.0
413                         Oshkosh   414         425.0    6830.0
414                Rockwell Collins   415         492.0    6822.0
416             Insight Enterprises   417         473.0    6704.0
418                  American Tower   419         449.0    6664.0
423                  United Rentals   424         452.0    6641.0
426                  Avery Dennison   427         430.0    6614.0
427                          MasTec   428         502.0    6607.0
430         Raymond James Financial   431         469.0    6525.0
434        Citizens Financial Group   435         451.0    6454.0
435      Packaging Corp. of America   436         450.0    6445.0
437                          Apache   438         488.0    6423.0
441                   Owens Corning   442         458.0    6384.0
443                             NVR   444         446.0    6322.0
446                    Wynn Resorts   447         548.0    6306.0
447                            Olin   448         467.0    6268.0
448   American Axle & Manufacturing   449         593.0    6266.0
450                        Chemours   451         482.0    6183.0
453             Arthur J. Gallagher   454         462.0    6160.0
454                        Celanese   455         484.0    6140.0
458               Burlington Stores   459         463.0    6110.0
461        Securian Financial Group   462         532.0    6067.0
464        TravelCenters of America   465         470.0    6052.0
468      AmTrust Financial Services   469         475.0    5959.0
469                             KKR   470         656.0    5930.0
470                     Ulta Beauty   471         524.0    5885.0
472       Regeneron Pharmaceuticals   473         523.0    5872.0
473             Windstream Holdings   474         485.0    5853.0
474                 Magellan Health   475         526.0    5838.0
475    Western & Southern Financial   476         483.0    5836.0
479                   Toll Brothers   480         497.0    5815.0
480                        Seaboard   481         486.0    5809.0
485                  Northern Trust   486         501.0    5716.0
490                  Peabody Energy   491         533.0    5579.0
491                ON Semiconductor   492         598.0    5543.0
495              Polaris Industries   496         537.0    5505.0
496       Pioneer Natural Resources   497         606.0    5455.0
497                  ABM Industries   498         500.0    5454.0
499                          Cintas   500         520.0    5429.0

### Groupby Example

1) Combine all rows with the same industry into one row

2) Use mean aggregate function to find the mean revenue for each individual industry

3) Sorty by mean_revenues

In [68]:
fortune_500_data.groupby(['industry']).mean('revenues')\
     .sort(["mean_revenues"], ascending = False)

                               industry  mean_revenues
24                General Merchandisers   88476.444444
70             Wholesalers: Health Care   84837.666667
48                   Petroleum Refining   78230.333333
22                 Food and Drug Stores   64040.833333
39  Mail| Package| and Freight Delivery   63095.500000
..                                  ...            ...
51                 Publishing| Printing    7539.500000
64              Trucking| Truck Leasing    7260.000000
23            Forest and Paper Products    7196.000000
6             Building Materials| Glass    6709.000000
62             Transportation Equipment    5576.000000

[71 rows x 2 columns]